<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AllpassPhaser - All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AllpassPhaser - Shared Code.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>AllpassPhaser - Standalone Plugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AllpassPhaser - VST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>506B7ED3EB9F158BF00634C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>884949FCB73999015B5763F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6D4AEA8F4E4223EA0317139</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC8E313545B55C100D4774CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
